// @use 'scss/variables' as variables;
// @use 'scss/mixins';

body {
    margin: 0;
    font-family: 'Helvetica Neue', 'Segoe UI', 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: variables.$color--global-text-light;
    font-weight: 600;
}

html {
    height: 100vh;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    color: black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

input,
textarea,
select {
    appearance: none;
    border: none;
    color: black;
    line-height: normal !important;

    &:focus {
        outline: none;
        transition: all 0.2s ease-in-out;

        &::placeholder {
            color: transparent;
            transition: all 0.2s ease-in-out;
        }
    }
}

/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$color--global-header;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: variables.$color--global-button;
}

/* Для Firefox */
::-moz-scrollbar {
    width: 8px;
}

::-moz-scrollbar-thumb {
    background-color: variables.$color--global-header;
    border-radius: 5px;
}

::-moz-scrollbar-thumb:hover {
    background-color: variables.$color--global-button;
}

/* Для Internet Explorer/Edge */
::-ms-scrollbar {
    width: 8px;
}

::-ms-scrollbar-thumb {
    background-color: variables.$color--global-header;
    border-radius: 5px;
}

::-ms-scrollbar-thumb:hover {
    background-color: variables.$color--global-button;
}
