$color--global-text: #111b21;
$color--global-header: #1ebea5;
$color--global-error: rgba(255, 0, 0, 0.514);
$color--global-text-light: #edf8f5;
$color--global-button: #128c7e;
$color--global-button-active: #77d7c8;
$color--global-dialogue: #e1ffd7;

// Error mixins
@mixin error-message_add-paddings-left-top($padding-top, $padding-left) {
  animation: fadeIn 0.5s ease-in-out;
  color: $color--global-error;
  font-size: 1.8vh;
  position: absolute;
  padding-top: $padding-top;
  padding-left: $padding-left;
  max-width: 100%;
}

// Button mixins
@mixin button-submit-small() {
  font-weight: 200;
  font-size: 3vh;
  border-radius: 10px;
  background-color: $color--global-button;
  color: $color--global-text-light;
  border: none;
  min-height: 6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  transition: background-color 0.3s ease;

  &:active {
    background-color: $color--global-button-active;
  }

  &:hover {
    background-color: $color--global-header;
  }
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin input-focus-effect() {
  transition: box-shadow 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px #77d7c8;
  }
}

// Error mixins
@mixin error-message_add-paddings-left-top($padding-top, $padding-left) {
  animation: fadeIn 0.5s ease-in-out;
  color: $color--global-error;
  font-size: 1.7vh;
  position: absolute;
  margin-top: $padding-top;
  margin-left: $padding-left;
  max-width: 100%;
}
