$color--global-text: #111b21;
$color--global-header: #2cb742;
$color--global-error: rgba(255, 0, 0, 0.514);
$color--global-text-light: #edf8f5;
$color--global-button: #279b38;
$color--global-button-active: #88c391;
$color--global-dialogue: #e1ffd7;